#about {
  min-height: 100vh;
  padding-top: 120px;
  background-color: var(--background-color);
  z-index: 2;
}
.about-title {
  font-size: 42px;
  text-align: center;
  font-weight: 800;
}
.about-img {
  background-image: url("../imgs/gym-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  border-radius: 50px;
}
.logo-text {
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}
.about-card {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #00000050;
}
.about-card-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.about-card-text {
  padding-top: 10px;
}


.service-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 52px;
}
.service-card {
  border: var(--text-color) solid 2px;
  width: 100%;
  height: fit-content;
  padding: 50px;
  padding-bottom: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}
.service-card:hover .weight-svg {
  transform: rotate(335deg);
}
.service-card:hover .about-svg:not(.weight-svg) {
  transform: rotate(360deg);
}
.service-card:hover {
  background-color: black;
}
.about-svg {
  width: 100px;
  height: 100px;
  fill: black;
  transition: all 0.5s ease;
}
.svg-container {
  padding: 20px;
  background-color: var(--text-color);
  border-radius: 50%; 
  overflow: hidden;
  display: inline-block;
}
.card-title {
  margin-top: 20px;
 font-size: 24px; 
 font-weight: 700;
}
.card-desc {
  text-align: center;
  width: 70%;
}

