section#announcements {
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}
main#announcements {
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 50px;
}
.announcements-title {
  font-size: 48px;
  font-weight: 800;
}
.announcement-card {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}


.tag {
  display: inline-block;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tag {
  background-color: var(--primary-color);
  color: #fff;
}

.announcement-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
}

.announcement-card p {
  font-size: 16px;
  color: #a2a2a2;
  margin-bottom: 12px;
}

.announcement-card .date {
  font-size: 14px;
  color: var(--desc-color);
}
.view-all {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.btn-text {
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
  font-weight: 700;
  color: var(--text-color);
}
.view-all::before {
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 20px;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: 100px;
}
.view-all::after {
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 20px;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: 100px;
}
.view-all:hover::before {
  left: 30%;
  width: 70%;
}
.view-all:hover::after {
  right: 30%;
  width: 70%;
}
.view-all:hover .btn-text {
  color: var(--background-color);
}