#contacts {
  height: fit-content;
  margin-top: 50px;
  background-color: var(--background-color);
}

.contact-info,
.contact-form-section {
  height: 83%;
  width: 100%;
}
.contact-info {
  z-index: 2;
  background: var(--primary-color);
  padding-top: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  overflow: hidden;
}
.contact-info::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -40px;
  right: -60px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: radial-gradient(circle at bottom right, var(--primary-color) 0%, #3d95f4 100%);
}

.contact-form-section {
  background: var(--background-color);
  padding-top: 50px;
  padding: 50px 50px;
}
.contact-info-title, .contact-form-title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.contact-info-title {
  padding-bottom: 30px;
  z-index: 5;
}
.contact-details {
  margin: 30px 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  z-index: 5;
  position: relative;
}
.contact-details-svg {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form input, .contact-form textarea {
  color: white;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: var(--border-color) 1px solid;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
  transition: all 0.3s ease;
}
.contact-form input:focus, .contact-form textarea:focus {
    outline: none; 
    border-bottom: 1px solid var(--secondary-color); 
}
.contact-form input:focus::placeholder, .contact-form textarea:focus::placeholder {
    color: var(--secondary-color);
}

@media (max-width: 767px) {
  .contact-details {
    margin: 20px 10px;
  }
  .contact-details-svg {
    width: 30px;
    height: 30px;
  }
}