#gallery {
  min-height: 700px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--background-color);
}
.gallery-title {
  font-size: 48px;
  font-weight: 800;
}
.gallery-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.gallery-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
@media(max-width:767px) {
  .gallery-title {
  font-size: 48px;
  font-weight: 800;
}
}