:root {
  --primary-color: #1a5ccb;
  --secondary-color: #127bec;
  --accent-color: #121e8b;
  --gradient: linear-gradient(25deg, #121e8b, #193daa, #1a5ccb, #127bec);
  --background-color: #0B1215;
  --text-color: #fbfbff;
  --border-color: #334155;
  --desc-color: #a2a2a2;
}


h1, div {
  font-family: 'Inter', sans-serif;
}
p {
  font-family: 'Barlow', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html a {
  text-decoration: none;
}
section {
  overflow: hidden;
}