#header {
  height: 100vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.header-title {
  font-size: 86px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.banner-skills {
  background-image: var(--gradient);
  color: var(--text-color);
  transition: opacity 0.5s ease-in-out;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.banner-skills::after {
  content: '';
  display: inline-block;
  width: 5px;
  background-color: var(--text-color);
  animation: blink 0.7s steps(1) infinite;
  vertical-align: bottom;
  margin-left: 4px;
  margin-bottom: 5px;
  height: 1em;
}

.header-left {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 100px;
  box-sizing: border-box;
}

.header-overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.25;
}

.header-social-media {
  margin-right: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-social-button {
  position: relative;
  background-color: rgba(106, 106, 106, 0.25);
  border: var(--border-color);
  padding: 10px;
  border-radius: 100px;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.header-social-button::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  background-color: var(--primary-color);
  border-radius: 100px;
  z-index: 0;
  transition: all 0.3s ease;
}

.header-social-button:hover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-social-button .header-social-icon {
  position: relative;
  z-index: 1;
}

.header-social-icon {
  z-index: 2;
  width: 30px;
  fill: white;
}
@media (min-width: 1600px) { 
  .header-title {
    font-size: 100px;
  }
}
@media (max-width: 1024px) {
  #header {
    height: 80vh;
  }
  .header-title {
    font-size: 48px;
  }
  .header-left {
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner-skills::after {
    width: 4px;
    margin-left: 3px;
  }
}

@media (max-width: 767px) {
  #header {
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-social-media {
    flex-direction: row;
    gap: 10px;
    width: auto;
    margin-top: 100px;
  }
  .header-social-icon {
    width: 30px;
  }
  .header-title {
    font-size: 38px;
    padding-right: 10px;
  }
  .header-left {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .banner-skills {
    padding: 1px 4px;
  }
  .banner-skills::after {
    width: 3px;
    margin-left: 2px;
    margin-bottom: 3px;
    height: 0.9em;
  }
}

/* Extra small devices (very small phones, less than 480px) */
@media (max-width: 480px) {
  .header-left {
    justify-content: start;
    padding-top: 130px;
  }
  .header-title {
    font-size: 32px;
  }
}
