#memberships {
  min-height: 100vh;
  background-color: var(--background-color);
}
.memberships-title {
  font-weight: 700;
  font-size: 52px;
  text-align: center;
}
.memberships-desc {
  text-align: center;
  font-weight: 500;
  color: var(--desc-color);
  padding: 0 25%;
}
.membership-pro, .membership-classic {
  border-radius: 20px;
  width: 80%;
  min-height: 200px;
  padding: 25px 35px;
}
.membership-classic,
.membership-pro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  background-color: #1a1a1a; /* adjust to match your design */
  border-radius: 12px;
}

.membership-details {
  margin-bottom: auto; 
}

.membership-pro {
  background-image: var(--gradient);
  box-shadow: 0 8px 20px rgba(26, 91, 203, 0.25);
}
.membership-classic {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}
.membership-card-title {
  font-size: 30px;
  font-weight: 900;
}
.best-value-container {
  width: 100%;
  padding-top: 10px;
}
.best-value-text {
  background-color: #FFB823;
  color: var(--background-color);
  padding: 4px 8px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
}
.membership-price {
  color: #FFB823;
  font-size: 30px;
  font-weight: 700;
}
.classic-membership-price {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
}
.membership-period {
  font-size: 20px;
  color: var(--text-color)
}
.membership-details {
  padding-top: 15px;
}
.learn-more-link {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}
.subscribe-button {
  background-color: var(--background-color);
  border: var(--border-color) 1px solid;
  padding: 10px 20px;
  font-weight: 700;
  color: var(--text-color);
  border-radius: 100px;
  font-size: 18px;
  word-wrap: nowrap;
  transition: all 0.3s ease;
}
.classic-subscribe-button {
  background-color: var(--text-color);
  border: var(--border-color) 1px solid;
  padding: 10px 20px;
  font-weight: 700;
  color: var(--background-color);
  border-radius: 100px;
  font-size: 18px;
  transition: all 0.3s ease;
}
.classic-subscribe-button:hover, .subscribe-button:hover {
  transform: translateY(-2px);
}
.classic-subscribe-button:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.25);
}
.subscribe-button:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

@media(max-width:1024px) {
  .membership-pro, .membership-classic {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .memberships-title {
    font-size: 42px;
  }
  .memberships-desc {
    padding: 0 20px;
    font-size: 12px;
  }
  .learn-more-link, .subscribe-button, .classic-subscribe-button {
    font-size: 14px;
  }
  .best-value-text {
    font-size: 12px;
  }
  .membership-details {
    font-size: 14px;
  }
}