#nutrition {
  min-height: 500px;
  background-color: var(--background-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.nutrition-title {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 20px;
}
.nutrition-calc {
  width: 80%;
  height: 100%;
  padding: 30px;
  border: var(--border-color) 1px solid;
  border-radius: 20px;
}
.weight-container {
  width: 100%;
}
.weight-input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 5px 15px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--text-color);
}
.weight-unit {
  padding-left: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}
.nutrition-button {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 15px;
  border: none;
  text-align: center;
  position: relative;
}
.nutrition-button:not(.submit-button)::after {
  content: '>';
  position: absolute;
  right: 5px;
  top: 6px;
  transform: rotate(90deg);
  font-size: 20px;
}
.nutrition-button option{
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
}
.submit-button {
  background-color: #3E7B27;
}
.nutrition-table {
  background-color: transparent;
  color: var(--text-color);
  border-collapse: collapse;
}

.nutrition-table th,
.nutrition-table td {
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  padding: 12px;
  vertical-align: middle;
}
.nutrition-table th {
  color: var(--secondary-color);
}
.nutrition-table thead th {
  font-weight: 700;
}

@media(max-width:767px) {
  .nutrition-title {
    font-size: 42px;
  }
  .nutrition-calc {
    width: 100%;
  }
}
