#timetable {
  height: fit-content;
  background: var(--gradient);
  padding-top: 50px;
  padding-bottom: 50px;
}
.timetable-title {
  font-weight: 800;
  font-size: 48px;
}
.timetable-img {
  width: 100%;
  border-radius: 20px;
}
.gym-schedule * {
  transition: all 0.3s ease;
}
td {
  vertical-align: middle;
}
.gym-schedule th {
  font-weight: 600;
  color: var(--text-color, #ffffff);
}

.gym-schedule td {
  color: var(--desc-color, #cccccc);
  padding: 16px 12px;
}
.gym-schedule tbody tr:hover {
  background-color: rgba(100, 100, 100, 0.05);
}
.join-btn {
  border-radius: 20px;
  padding: 6px 14px;
  font-weight: 500;
  background-color: var(--primary-color);
  border: none;
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}


.join-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.join-text {
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
  font-weight: 700;
  color: var(--text-color);
}
.join-btn::before {
  content: '';
  position: absolute;
  background-color: white;
  left: 50%;
  top: -15%;
  bottom: -15%;
  width: 0;
  height: 130%;
  transition: all 0.5s ease;
  z-index: 1;
  border-radius: 100px;
}
.join-btn::after {
  content: '';
  position: absolute;
  background-color: white;
  right: 50%;
  top: -15%;
  bottom: -15%;
  width: 0;
  height: 130%;
  transition: all 0.5s ease;
  z-index: 1;
  border-radius: 100px;
}
.join-btn:hover::before {
  width: 100%;
  left: 25%;
}
.join-btn:hover::after {
  width: 100%;
  right: 25%;
}
.join-btn:hover .join-text {
  color: var(--background-color);
}